{% load static %}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=<device-width>, initial-scale=1.0">
    <title>{%block title%}{%endblock title%}</title>
    <a href="{% url 'login' %}">Login ||</a>
    <a href="{% url 'logout' %}">Logout ||</a>
    <a href="{% url 'signup' %}">Sign Up ||</a>
    <a href="{% url 'create_receipt' %}">Create ||</a>
    <a href="{% url 'category_list' %}">Go to categories ||</a>
    <a href="{% url 'account_list' %}">Go to accounts</a>
</head>
<body>
    <main>
        <div>
        {% block content %}{% endblock content %}
        </div>
    </main>
</body>
</html>
