{% extends 'base.html' %}

{% block title %} Log in {% endblock title %}

    {%block content%}
            <h1>Login</h1>
            <form method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <button>Login</button>
    {% endblock content %}
