<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Account List</title>
    <a href="{% url 'home' %}">Home</a>
    <a href="{% url 'create_account' %}">Create Account</a>
    
</head>
<body>
    <table>
        <thead>
            <tr>
                <th>Name</th>
                <th>Number</th>
                <th>Number of receipts</th>
            </tr>
        </thead>
        <tbody>
            {% for account in show_account %}
            <tr>
                <td>{{ account.name }}</td>
                <td>{{ account.number }} </td>
                {% if account.receipts.all|length %}
                    <td>{{ account.receipts.all|length }} </td>
                {% else %}
                    <td>{{ account.receipts.all|length }}</td>
                {% endif %}
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>
