<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Category List</title>
    <a href="{% url 'home' %}">Home</a>
    <a href="{% url 'create_category' %}">Create Category</a>
    <a href="{% url 'login' %}">Login</a>
    <a href="{% url 'logout' %}">Logout</a>
    <a href="{% url 'signup' %}">Sign Up</a>
</head>
<body>
    <table>
        <thead>
            <tr>
                <th>Name</th>
                <th>Number of receipts</th>
            </tr>
        </thead>
        <tbody>
            {% for category in show_category %}
            <tr>
                <td>{{ category.name }}</td>
                {% if category.receipts.all|length %}
                    <td>{{category.receipts.all|length}}</td>
                {% else %}
                    <td>{{category.receipts.all|length}}</td>
                {% endif %}
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>
